[Unit]
Description=Yamaha RX-V1500 MQTT Controller

[Service]
Type=simple
ExecStart=python3 /srv/yrxv1500-mqtt/controller.py

[Install]
WantedBy=multi-user.target
